<footer class="bg-dark text-light mt-5">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-lg-2">
                <h2 class="mb-0">SHOP</h2>
                <p class="text-light small">Your stylish destination for online shopping.</p>
            </div>

            <div class="col-lg-2">
                <h4 class="mb-3">Quick Links</h4>
                <ul class="list-unstyled mb-0">
                    <li><a href="#" class="text-light text-decoration-none">Home</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Products</a></li>
                    <li><a href="#" class="text-light text-decoration-none">About Us</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-2 text-light">
                <h4 class="mb-3">Address</h4>
                <p class="mb-1 text-light">123 Main Street, Cityville, Country</p>
                <p class="mb-0 text-light">Email: info@ecart.com</p>
                <p class="mb-0 text-light">Phone: +91 987 654 3210</p>
            </div>

            <div class="col-lg-4">
                <h4 class="mb-3">Search</h4>
                <form class="d-flex align-items-center">
                    <input class="form-control me-2" type="search" placeholder="Search for products..."
                        aria-label="Search">
                    <button class="btn btn-outline-light" type="button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
                <ul class="list-inline mb-0 mt-4">
                    <li class="list-inline-item pe-5"><a href="#" target="_blank" class="text-light"><i
                                class="fab fa-facebook fa-2xl"></i></a></li>
                    <li class="list-inline-item pe-5 "><a href="#" target="_blank" class="text-light"><i
                                class="fab fa-twitter fa-2xl"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" class="text-light"><i
                                class="fab fa-instagram fa-2xl"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        <p class="text-muted">&copy; 2023 ECart. All rights reserved.</p>
    </div>
</footer>