@import 'ngx-toastr/toastr';
*{
    margin: 0px;
    padding: 0px;
    /* font-family: 'Martel', serif; */
        /* font-family: 'Signika Negative', sans-serif; */
        font-family: 'Trirong', serif;
}
